// TODO
//Add light theme

$text-color: white;
$title-color: white;
$hover-color: grey;
$background-darkmode: #222222;
$light-background-darkmode: #303030;


body {
  font-family: 'Roboto Mono', monospace;
  background-color: $background-darkmode;
  margin-top: 78px;
  padding: 0px
}

.layout {
  margin-top: 78px;
}

.container {
  padding: 0px;
}

.bg-dark {
  background-color: $background-darkmode;
}

.bg-light {
  background-color: #303030!important;
}

// Navbar

.show {
  background: #222222d8 !important;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.navbar {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  top: 0px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 78px;
  background: #222222d8 !important;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}


.navbar-toggler-icon {
  border-color: white;
}

a.navLink {
  margin-right: 1rem;

  :hover {
    color: grey;
  }
}

//vit burger icon

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

//skala mobil menyn

@media screen and (max-width:480px) {

  a.navLink {
    margin-top: 1rem;
  }

  //nav-bar mobile style

  .navbar-collapse{
    background-color: $background-darkmode !important;
    padding:2rem;
    margin-top: 2rem;
  }

}


//Landing

.artdiv {
}

.art {
  width: 100%;
  background-size: cover;
  background: no-repeat 50px;
}

.landingText {
  padding-left: 0.5rem;
  padding-right:0.5rem;
  margin-top: 2rem;
}

//Information cards

.information {
  margin-top: 3rem;
}


//Footer

footer {
  margin-top: 100px;
  text-align: center;
}

.copyright {
  margin-top: 3rem;
}

.footersymbol {
  margin-bottom: 2rem;
  margin-right: 1rem;
}

#footer-icon{
  margin: 0.5rem;
  font-size: 1em;
  padding-bottom: 3rem;
}

// Buttons

.btn {
  margin-right: 1rem;
  background-color: transparent;
  border-color: white;
}
  
.bg-dark {
  background-color: $background-darkmode !important;
}

.bottom {
  position: absolute;
  bottom:   1.5rem;
}

// General text elements
  
h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  color: $title-color;
}

a {
  text-decoration: none;
  color: $text-color;
  :hover {
    color: $hover-color;
  }
}

p {
    color: $text-color;
}


  
// Animations

.rgb {
  background: #dae4ff;
  -webkit-animation: rgb 30s ease infinite;
  -moz-animation: rgb 30s ease infinite;
  animation: rgb 30s ease infinite;
}
  
@keyframes rgb {
    0%, 100% {
      background: #5f86f2;
    }
    12.5% {
      background: #a65ff2;
    }
    25% {
      background: #f25fd0;
    }
    37.5% {
      background: #f25f61;
    }
    50% {
      background: #f2cb5f;
    }
    62.5% {
      background: #abf25f;
    }
    75% {
      background: #5ff281;
    }
    87.5% {
      background: #5ff2f0;
    }
}
  
.bi-record-fill {
    text-shadow: 0 0 10px #ffc107;
}
  
.blinkMe {
    animation: blinker 5s linear infinite;
}
    
@keyframes blinker {
      50% {
        opacity: 0;
      }
}

//StatusBar  
  
.status {
    height: auto;
    padding: 2rem;
    margin: 0;
    margin-bottom: 1rem;
    background-color:#222222a4 !important;
    color: rgb(255, 255, 255);
    border: none;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
}

.status-info{
  color: rgb(119, 119, 119);
  margin: 0;
}

.satus-info > .react-icons{
  color: black;
}

  
.card {
    height: 100%;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
    border: none;
    background: #222222a4 !important;
    overflow: visible;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

 .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
 } 

 // Alert

.alert {
  height: 3.5rem;
  position: relative;
  z-index: 999;
  margin: 0;
  text-align: center;
  color: $text-color;
  background-color: rgba(128, 128, 128, 0.486) !important;
  border: none;
  border-radius: 0rem;
}


.alertLink {
  text-decoration: underline;
}


//Hugin components

.hugin-structure{
  background-color: $light-background-darkmode;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hugin-title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hugin-introduction-section{  
  color: $title-color;
  padding: 1rem;
  border-radius: 5px;
  margin:1rem;
}

.meet-hugin{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.tutorial1, .tutorial2, .tutorial3, .tutorial4{
  margin-top: 1rem;
}

.hugin-installation-section{  
  color: $title-color;
  padding: 1rem;
  border-radius: 5px;
  margin:1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.xkrPc{
  height: 200px;
}

@media screen and (max-width:480px) {

  .xkrPc{
    display: none;
  }
  

}

.hugin-box-img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
}

.hugin-tutorial-section{  
  margin-top: 3rem;
  color: $title-color;
  padding: 1rem;
  border-radius: 5px;
  margin:1rem;
}

.hugin-get-address-section{ 
  color: $title-color;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  margin:1rem;
}

.hugin-download-buttons{
  padding: 1rem;
  display: flex;
  flex-direction: row;
}
