// TODO

//Dark theme
$text-color: white;
$title-color: white;
$title-color-light: Black;
$hover-color: grey;
$background-darkmode: #222222;
$light-background-darkmode: #303030;


body {
  font-family: 'Roboto Mono', monospace;
  background-color: $background-darkmode;
  margin-top: 78px;
  padding: 0px;
}

.layout {
  margin-top: 78px;
}

.bg-dark {
  background-color: $background-darkmode;
}

.bg-light {
  background-color: $light-background-darkmode!important;
}

// Text elements
  
h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  color: $title-color;
}

a {
  text-decoration: none;
  color: $text-color;
  :hover {
    color: $hover-color;
  }
}

p {
    color: $text-color;
}

// Navbar

.show {
  background: #222222d8 !important;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.navbar {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  top: 0px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 78px;
  background: #222222d8 !important;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.navbar-toggler-icon {
  border-color: white;
}

a.navLink { 
  margin-right: 1rem;

  :hover {
    color: grey;
  }
}

//White burger icon

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

//Scale mobile menu

@media screen and (max-width:480px) {

  a.navLink {
    margin-top: 1rem;
  }

  //nav-bar mobile style

  .navbar-collapse{
    background-color: $background-darkmode !important;
    padding:2rem;
    margin-top: 2rem;
  }

}

//Landing

.artdiv {

}

.art {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.landingText {
  padding-left: 0.5rem;
  padding-right:0.5rem;
  margin-top: 2rem;
}

//Footer

footer {
  margin-top: 100px;
  text-align: center;
}

.copyright {
  margin-top: 3rem;
}

.footersymbol {
  margin-bottom: 2rem;
  margin-right: 1rem;
}

#footer-icon{
  margin: 0.5rem;
  font-size: 1em;
  padding-bottom: 3rem;
}

// Buttons

.btn {
  margin-right: 1rem;
  background-color: transparent;
  border-color: white;
}
  
.bg-dark {
  background-color: $background-darkmode !important;
}

.bottom {
  position: absolute;
  bottom:   1.5rem;
}
  
// Animations

.rgb {
  background: #dae4ff;
  -webkit-animation: rgb 30s ease infinite;
  -moz-animation: rgb 30s ease infinite;
  animation: rgb 30s ease infinite;
}
  
@keyframes rgb {
    0%, 100% {
      background: #5f86f2;
    }
    12.5% {
      background: #a65ff2;
    }
    25% {
      background: #f25fd0;
    }
    37.5% {
      background: #f25f61;
    }
    50% {
      background: #f2cb5f;
    }
    62.5% {
      background: #abf25f;
    }
    75% {
      background: #5ff281;
    }
    87.5% {
      background: #5ff2f0;
    }
}
  
.bi-record-fill {
    text-shadow: 0 0 10px #ffc107;
}
  
.blinkMe {
    animation: blinker 5s linear infinite;
}
    
@keyframes blinker {
      50% {
        opacity: 0;
      }
}

 // Alert

 .alert {
  height: 3.5rem;
  position: relative;
  z-index: 999;
  margin: 0;
  text-align: center;
  color: $text-color;
  background-color: rgba(128, 128, 128, 0.486) !important;
  border: none;
  border-radius: 0rem;
}


.alertLink {
  text-decoration: underline;
}

// Statusbar  
  
.status {
    height: auto;
    padding: 2rem;
    margin: 0;
    margin-bottom: 1rem;
    background-color:#222222 !important;
    color: rgb(255, 255, 255);
    border: none;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
}

.status-info{
  color: rgb(119, 119, 119);
  margin: 0;
}

.satus-info > .react-icons{
  color: black;
}

// Cards

.card {
    height: 100%;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
    border: none;
    background: $background-darkmode;
    overflow: visible;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

 .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
 } 

// Downloads

.download-buttons{
  padding: 1rem;
  display: flex;
  flex-direction: row;  
}

#download-buttons{  
  padding-right: 1rem;
  padding-left: 1rem;
}

// Hugin

.hugin-download-buttons{
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

#hugin-art{
  width: 500px;
}

#extra-margin-top{
  margin-top: 2rem!important;
}

@media screen and (max-width:480px) {

  #hugin-art{
    display: none;
  }

}

/*

$text-color-lightmode: black!important;
$title-color-lightmode: rgb(43, 43, 43) !important;
$background-lightmode: #eeeeee!important;
$light-background-lightmode: #d3e5ff!important;
$navbar-background-lightmode: #d3e5ff!important;
$button-border-color: black!important;

@media (prefers-color-scheme: light) {
  
body {
  background-color: $background-lightmode;
}

h1, h2, h3, h4, h5, p {
  font-family: 'Montserrat', sans-serif;
  color: $title-color-lightmode;
}

.bg-dark {
  background-color: $background-lightmode;
}

.bg-light {
  background-color: $light-background-lightmode;
}

.navbar {
  background-color: $navbar-background-lightmode;
}

.card {
  background-color: $background-lightmode;
}

.btn {
  margin-right: 1rem;
  background-color: transparent;
  border-color: $button-border-color;
  color: $text-color-lightmode;
}
} */
